.linkContainer {
    text-align: center;
    padding-top: 15px
}

.linking {
    box-sizing: border-box;
    padding: 20px 14px 2px 14px;
    text-decoration: none;
    color: #000000;
    font-size: 120%
}

.linking:hover {
    color: #bdbdbd;
}