.home {
   background: transparent;
   text-align:center;
    }
.title {
    text-align: left;
    font-size: 550%;
    font-weight: lighter;
    font-family: 'Lucida Sans';
    margin: 0px;
    padding: 250px 10px 0px 40px;
}

.desc {
    text-align: left;
    margin: 0px;
    font-weight: lighter;
    font-family: 'Lucida Sans';
    font-size: 200%;
    font-style: italic;
    padding: 1px 30px 10px 40px;
}