.home {
   background: transparent;
   text-align:center;
    }
.title {
    text-align: center;
    font-size: 600%;
    font-weight: lighter;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 280px 30px 1px 30px;
}

.desc {
    text-align: center;
    margin: 0px;
    font-weight: lighter;
    font-size: 200%;
    font-style: italic;
    padding: 1px 30px 270px 30px;
}