.home {
   box-sizing: border-box;
   height: 600px;
   padding: 5px 5px 5px 5px;
    background-color: #EEEEEE
    }
.title {
    text-align: center;
    font-size: 600%;
    font-weight: lighter;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 165px 30px 10px 30px;
}

.desc {
    text-align: center;
    margin: 0px;
    font-weight: lighter;
    font-size: 200%;
    font-style: italic;
    padding: 10px 30px 30px 30px;
}