.footer {
    text-align: center;
    font-size: 100%;
    background-color: transparent;
    margin: 0;
    padding-top: 10em;
    padding-bottom: 2em;
}

@media only screen and (min-width: 768px){
    .footer {
        padding-top: 24em;
        padding-bottom: 2em;
    }
}