.contactcontainer {
    box-sizing:border-box;
    height: 100%;
    text-align: left;
    background-color: transparent;
}
    
.contact {
   font-family: 'Lucida Sans';
   font-size:140%; 
   text-align: left;
   margin: 0px;
   box-sizing: border-box;
   padding: 200px 15px 40px 40px;
}

.contactpoint {
    padding-left: .7em;
    padding-right: .7em;
} 