.image {
    height: 40px;
    width : 40px;
    float: right;
}
.hom {
    height: 40px;
    width : 40px;
}
.navv {
    padding-top : 8px;
    background: transparent;
}
.horizon {
    display: inline;
}